
.logo {
  width: 100px;
  height: auto;
  margin-left: 10px;
}
.nav-links {
  display: flex;
  gap: 160px; 
}
.nav-links a {
  text-decoration: underline;
  color: purple;
  padding-right: 150px;
}
h1 {
  color: orange;
  text-align: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
  gap: 40px;
  padding: 60px;
  background-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 140px;
  margin-left: 140px;
  
}
.gallery-item {
  width: 200px;
  text-align: center;
}
.gallery-item img {
  width: 100%;
  height: auto;
}
.gallery-item p {
  margin: 10px 0;
}
.content {
  background-color: #f9f9f9;
  padding:40px;
  border-radius: 8px;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top:20px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}
.text-box {
  width: 300px;
  padding:10;
  border:2px solid black;
  height: 140px;
  margin-left:40px;
  margin-right:20px;
  margin-top:40px;
  margin-bottom:40px;
  background-color:#d5ecf2;

  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    margin-right: 10px;
    margin-left: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
  }  
  

        