body{
    background-color: aliceblue;
    padding: 60px;

}
.container{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    width: 80%;
    max-width: 600px;
    background-color: white;
    text-align: center;
}
.heading{
    background-color: yellow;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container_1{
    background-color: beige;
    padding: 20px;
    margin-bottom: 20px;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
}