body {
    background-color: cornsilk;
}

.container {
    display: flex;
    gap: 20px;
    padding: 5px;
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
}

.img {
    height: 250px;
}



.text-box {
    border: 1px solid #ccc;
    background-color: rgb(210, 230, 232);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(101, 66, 1, 0.5);
    margin-right:140px;
    margin-left:140px;
    margin-top:20px;
    margin-bottom: 40px; 